/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.main-body {
  height: inherit;
  width: inherit;
}

.side-bar {
  width: 30%;
  height: 100%;
  background-color: #0fc;
  float: left;
}

.home-container {
  width: 70%;
  height: 100%;
  background-color: #f00;
  float: left;
}
